.About {
    color: white;
}

.About .left {
    opacity: .8;
}

.About .right {
    font-weight: 600;
}

.About .block_1 {
    display: flex !important;
    justify-content: center !important;
}

.About .btn {
    border: 1px solid var(--main-primary-color);
    border-radius: 25px;
    color: white;
    padding: 10px 19px;
    font-weight: 600;
}

.About .circle {
    padding: 5%;
    background-color: var(--main-primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.About .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 160px;
    /* right: 0; */
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: var(--main-primary-color);
}

.About .icon_right {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 707px;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: var(--main-primary-color);
}

.About .separator {
    margin-bottom: 120px;

}

.About .outer_circle {
    position: relative;
    margin: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffffff;
}

.About .inner_circle {
    background-image: linear-gradient(to bottom, rgb(9, 112, 26) 0%,
            rgb(21, 255, 0) 100%);
    content: '';
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    z-index: -1;
    border-radius: inherit;
}

.About .time {
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}

.portfolio .navbackground {
    background-color: #121212;
    height: 160px;
}

.backgrounddiv {
    text-align: center;
}


.backgroundtext {
    font-size: 110px;
    /* left: 0; */
    letter-spacing: 10px;
    line-height: .7;

    position: relative;
    /* right: 0;
      top: 100px; */
    text-transform: uppercase;
    font-weight: 800;

    color: hsla(0, 0%, 100%, .07);
}

.title {
    font-size: 56px;
    font-weight: 900 !important;
    color: #fff;
    left: 25px;
    top: 46px !important;

    position: absolute;
    text-transform: uppercase;
    margin: 0;
    top: 15px;
}

.title span {
    color: var(--main-primary-color);
}

@media screen and (max-width:515px) {
    .title {
        font-size: 26px;
        top: 30px !important;
    }

    .backgroundtext {
        font-size: 56px;
    }
}