.home .bg{
    border-radius: 30px;
    /* left: 40px; */
    box-shadow: 0 0 10px rgba(0,0,0,.9);
    overflow: hidden;
    /* padding: 0; */
}
.home .row>*{
    padding: 0 !important;
    margin: 0;
}
.home .row{
    margin: 0;
}

.home .button:hover  {
    
    background-color: var(--main-primary-color);
    color: #000;
}
.home{
    background-image: url(../../../public/homeBg.png);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    /* width: 100vh; */
}
.home_name{
    color: var(--main-primary-color);
    font-size: 44px;
} 
.home .button{
    background-color: transparent;
    color: #fff;
    border: 2px solid var(--main-primary-color);
    transition: all .5s ease-in-out;
}